.col-centered{
    float: none;
    margin: 0 auto;
}

.block_type{
	height: 640px;
	margin: 5 auto;
}

.thumb-small{
	max-width: 120px;
	max-height: 140px;
	margin: 5 auto;
}

.thumb{
	max-width: 220px;
	max-height: 340px;
	margin: 5 auto;
}

.thumb-big{
	max-width: 340px;
	margin: 5 auto;
}

.header_type{
	color: #3071A9;
	border-color: #285E8E;
}

.login_btn{
	margin-left: 85%;
}